# Telegram
BOT_TOKEN=123...:abc...
CHANNEL_ID=-100123...
DISCUSSION_ID=-100123...
CHANNEL_CHAT_LINK=https://t.me/...

# Twitch
TWITCH_CLIENT_ID=abc123...
TWITCH_SECRET=abc123...
STREAMER_USERNAME=twitch
