# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/
venv/

# IDE files
.idea/
.ruff_cache/

# Environment variables
.env
